name: Github Actions
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: treeform/setup-nim-action@v5
    - run: nimby install -g shady/shady.nimble
    - run: nim r tests/test_shady.nim